# Python 3.11+ (tested on 3.13)
torch>=2.1
transformers>=5.02
tree-sitter>=0.25
tree-sitter-c>=0.23
tree-sitter-java>=0.23
tree_sitter_python>=0.23
pandas>=2.0
numpy>=1.24
pyarrow>=14.0
pingouin>=0.6.1
scipy
tqdm
seaborn
matplotlib
complexipy
streamlit
plotly
lizard
cognitive-complexity